@import url(https://fonts.googleapis.com/css?family=Mulish);

body{
    background-color:aliceblue;
    color: black;
    padding: 0;
    margin: 0;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;

}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}