body {
    background-color: lightgrey;
}

#title {
    color:white;
    text-align: center;
    background-color: navy;
    border-radius: 10px;
}

#login {
    background-color: grey;
    border: 50px;
    text-align: left;
}