/* 

color palette:
#96B6C5
#ADC4CE
#EEE0C9
#F1F0E8
#DDDDEE

*/

body {
    background-color: lightgrey;
}

#title {
    color: #DDDDEE;
    text-align: center;
    background-color: #96B6C5;
    margin-top: -0.25cm;
    height: 10%;
    font-size: 65px;
    padding-left: 1px;
    padding-right: 16px;
    width: 100%; /* to make it max out the width of the webpage*/
    margin-left: -10px; /* this allows the thing to be flushed left*/
}

#login {
    background-color: grey;
    border: 50px;
    text-align: left;
    width: 10cm;
    height: 10cm;
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    margin-top: 2.5cm;
    margin-bottom: 2.5cm;
}

#loginbox {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 15cm;
    height: 15cm;

}