/* 

color palette:
#96B6C5
#ADC4CE
#EEE0C9
#F1F0E8
#DDDDEE

*/

body {
    background-color: lightgrey;
}

#title {
    color: #DDDDEE;
    text-align: center;
    background-color: #96B6C5;
    margin-top: -0.25cm;
    height: 2.5cm;
    font-size: 65px;
    padding-left: 1px;
    padding-right: 16px;
    width: 100%; /* to make it max out the width of the webpage*/
    margin-left: -10px; /* this allows the thing to be flushed left*/
}

#buttonLogIn {
    background-color: #96B6C5;
    color: #ffffff;
    padding: 8px;
    font-size: smaller;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#buttonLogIn:hover {
    background-color: #ADC4CE;
}